
/* CUSTOM ELEMENTS */
.color-dark:before, .color-light:before, .color-orange:before{
  z-index: 0;
  opacity: 0;
}
.color-orange:before {
  /* background-color: #f6323e; */
  /* background: rgb(251,88,31); */
  /* background: linear-gradient(90deg, rgba(251,88,31,1) 0%, rgba(246,50,62,1) 100%); */

  background: rgba(246,50,63,1);
  background: -moz-linear-gradient(-45deg, rgba(246,50,63,1) 0%, rgba(246,50,63,1) 38%, rgba(251,89,31,1) 38%, rgba(251,89,31,1) 48%, rgba(251,89,31,1) 60%, rgba(255,118,6,1) 60%, rgba(255,118,6,1) 72%, rgba(255,118,6,1) 93%, rgba(255,124,24,1) 93%, rgba(255,124,24,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(246,50,63,1)), color-stop(38%, rgba(246,50,63,1)), color-stop(38%, rgba(251,89,31,1)), color-stop(48%, rgba(251,89,31,1)), color-stop(60%, rgba(251,89,31,1)), color-stop(60%, rgba(255,118,6,1)), color-stop(72%, rgba(255,118,6,1)), color-stop(93%, rgba(255,118,6,1)), color-stop(93%, rgba(255,124,24,1)), color-stop(100%, rgba(255,124,24,1)));
  background: -webkit-linear-gradient(-45deg, rgba(246,50,63,1) 0%, rgba(246,50,63,1) 38%, rgba(251,89,31,1) 38%, rgba(251,89,31,1) 48%, rgba(251,89,31,1) 60%, rgba(255,118,6,1) 60%, rgba(255,118,6,1) 72%, rgba(255,118,6,1) 93%, rgba(255,124,24,1) 93%, rgba(255,124,24,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(246,50,63,1) 0%, rgba(246,50,63,1) 38%, rgba(251,89,31,1) 38%, rgba(251,89,31,1) 48%, rgba(251,89,31,1) 60%, rgba(255,118,6,1) 60%, rgba(255,118,6,1) 72%, rgba(255,118,6,1) 93%, rgba(255,124,24,1) 93%, rgba(255,124,24,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(246,50,63,1) 0%, rgba(246,50,63,1) 38%, rgba(251,89,31,1) 38%, rgba(251,89,31,1) 48%, rgba(251,89,31,1) 60%, rgba(255,118,6,1) 60%, rgba(255,118,6,1) 72%, rgba(255,118,6,1) 93%, rgba(255,124,24,1) 93%, rgba(255,124,24,1) 100%);
  background: linear-gradient(135deg, rgba(246,50,63,1) 0%, rgba(246,50,63,1) 38%, rgba(251,89,31,1) 38%, rgba(251,89,31,1) 48%, rgba(251,89,31,1) 60%, rgba(255,118,6,1) 60%, rgba(255,118,6,1) 72%, rgba(255,118,6,1) 93%, rgba(255,124,24,1) 93%, rgba(255,124,24,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6323f', endColorstr='#ff7c18', GradientType=1 );

}
.color-dark:before {
  /* background-color: #FF6A00; */
  /* background: rgb(255,125,24); */
  /* background: linear-gradient(90deg, rgba(255,125,24,1) 0%, rgba(251,88,31,1) 100%); */

  background: rgba(255,124,24,1);
  background: -moz-linear-gradient(-45deg, rgba(255,124,24,1) 0%, rgba(255,124,24,1) 7%, rgba(255,118,6,1) 7%, rgba(255,118,6,1) 28%, rgba(255,118,6,1) 40%, rgba(251,89,31,1) 40%, rgba(251,89,31,1) 52%, rgba(251,89,31,1) 62%, rgba(246,50,63,1) 62%, rgba(246,50,63,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,124,24,1)), color-stop(7%, rgba(255,124,24,1)), color-stop(7%, rgba(255,118,6,1)), color-stop(28%, rgba(255,118,6,1)), color-stop(40%, rgba(255,118,6,1)), color-stop(40%, rgba(251,89,31,1)), color-stop(52%, rgba(251,89,31,1)), color-stop(62%, rgba(251,89,31,1)), color-stop(62%, rgba(246,50,63,1)), color-stop(100%, rgba(246,50,63,1)));
  background: -webkit-linear-gradient(-45deg, rgba(255,124,24,1) 0%, rgba(255,124,24,1) 7%, rgba(255,118,6,1) 7%, rgba(255,118,6,1) 28%, rgba(255,118,6,1) 40%, rgba(251,89,31,1) 40%, rgba(251,89,31,1) 52%, rgba(251,89,31,1) 62%, rgba(246,50,63,1) 62%, rgba(246,50,63,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(255,124,24,1) 0%, rgba(255,124,24,1) 7%, rgba(255,118,6,1) 7%, rgba(255,118,6,1) 28%, rgba(255,118,6,1) 40%, rgba(251,89,31,1) 40%, rgba(251,89,31,1) 52%, rgba(251,89,31,1) 62%, rgba(246,50,63,1) 62%, rgba(246,50,63,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(255,124,24,1) 0%, rgba(255,124,24,1) 7%, rgba(255,118,6,1) 7%, rgba(255,118,6,1) 28%, rgba(255,118,6,1) 40%, rgba(251,89,31,1) 40%, rgba(251,89,31,1) 52%, rgba(251,89,31,1) 62%, rgba(246,50,63,1) 62%, rgba(246,50,63,1) 100%);
  background: linear-gradient(135deg, rgba(255,124,24,1) 0%, rgba(255,124,24,1) 7%, rgba(255,118,6,1) 7%, rgba(255,118,6,1) 28%, rgba(255,118,6,1) 40%, rgba(251,89,31,1) 40%, rgba(251,89,31,1) 52%, rgba(251,89,31,1) 62%, rgba(246,50,63,1) 62%, rgba(246,50,63,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7c18', endColorstr='#f6323f', GradientType=1 );

}

.color-orange section, .color-orange footer{
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.color-dark .left-side ul {
  width: 100vh;
  line-height: 1;
  display: block;
  margin: 0;
  margin-top: 50vh;
  margin-left: -9px;
  padding: 0;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
}
.color-dark .left-side ul li {
  display: inline-block;
  margin: 0 10px;
  padding: 0;
  list-style: none;
}
.color-dark .left-side ul li a, .color-orange .left-side ul li a {
  display: block;
  font-size: 13px;
  position: relative;
  padding: 0 2px;
  color: #fff;
}
moe .color-dark .left-side ul li a:hover {
  text-decoration: none;
}
.color-dark .left-side ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 6px;
  height: 1px;
  width: 0;
  transition: width 0s ease, background 0.25s ease;
}
.color-dark .left-side ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 6px;
  height: 1px;
  width: 0;
  background: #fff;
  transition: width 0.25s ease;
}
.color-dark .left-side ul li a:hover:before {
  width: 100%;
  background: #fff;
  transition: width 0.25s ease;
}
.color-dark .left-side ul li a:hover:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}
.left-side .logo img{
  transition: all 0.3 ease-in-out;
}
.left-side .logo img:first-child{
  display: inline-block;
  visibility: visible;
  opacity: 1;
}
.left-side .logo img:last-child{
  display: none;
  visibility: hidden;
  opacity: 0;
}
.color-dark .left-side .logo img:first-child, .color-orange .left-side .logo img:first-child {
  display: none;
  visibility: hidden;
  opacity: 0;
}
.color-dark .left-side .logo img:last-child, .color-orange .left-side .logo img:last-child {
  display: inline-block;
  visibility: visible;
  opacity: 1;
}
.color-dark .left-side .gotop img, .color-orange .left-side .gotop img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.color-light {
  background-color: #fff;
}

/*
.color-undefined {
  background-color: white;
}
*/

.overflow {
  overflow: hidden;
}