/* PAGINATION */
.pagination {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.pagination li.page-item {
  margin-right: 5px;
}
.pagination li.page-item:first-child a.page-link {
  padding-left: 0;
}
.pagination li.page-item.active a.page-link {
  border: 1px solid #282828;
  background: none;
}
.pagination li.page-item a.page-link {
  border: none;
  color: #282828;
  font-size: 13px;
  font-weight: 600;
  border-radius: 50%;
  padding: 8px;
  text-align: center;
}
.pagination li.page-item a.page-link:hover {
  background: none;
  opacity: 0.5;
}
.pagination li.page-item a.page-link:focus {
  border: none;
  background: none;
  box-shadow: none;
}