/* MEDIUM FIXES */
@media only screen and (max-width: 1199px), only screen and (max-device-width: 1199px) {
  body {
    padding: 0;
  }

  .left-side {
    display: none;
  }

  .navbar {
    padding: 30px;
  }

  .slider {
    width: 100%;
    margin-right: 0;
  }

  .slider .swiper-container .slide-inner {
    padding: 0 60px;
  }

  .works .titles {
    padding-right: 0;
  }
}