/* LEFT SIDE */
.left-side {
  width: 150px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}
.left-side .logo {
  width: 100%;
  display: block;
  height: 42px;
  text-align: center;
  margin-top: 35px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  opacity: 0;
  transform: translateY(-30px);
}
.left-side .logo img {
  height: 42px;
}
.left-side .logo.sticky {
  opacity: 1;
  transform: translateY(0);
}
.left-side ul {
  width: 100vh;
  line-height: 1;
  display: block;
  margin: 0;
  margin-top: 50vh;
  margin-left: -9px;
  padding: 0;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
}
.left-side ul li {
  display: inline-block;
  margin: 0 10px;
  padding: 0;
  list-style: none;
}
.left-side ul li a {
  display: block;
  font-size: 13px;
  font-weight: 700;
  position: relative;
  padding: 0 2px;
}
.left-side ul li a:hover {
  text-decoration: none;
}
.left-side ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 6px;
  height: 1px;
  width: 0;
  transition: width 0s ease, background 0.25s ease;
}
.left-side ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 6px;
  height: 1px;
  width: 0;
  background: #282828;
  transition: width 0.25s ease;
}
.left-side ul li a:hover:before {
  width: 100%;
  background: #282828;
  transition: width 0.25s ease;
}
.left-side ul li a:hover:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}
.left-side .gotop {
  width: 50px;
  padding: 14px;
  position: absolute;
  left: 50px;
  bottom: 35px;
  display: none;
}
.left-side .gotop img {
  display: block;
}