/* PAGE HEADER */
.page-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: #282828;
}
.page-header .video-bg, .page-header figure {
  width: 100%;
  overflow: hidden;
  max-height: 760px;
}
.page-header .video-bg video {
  width: 100%;
  display: flex;
}
.page-header iframe {
  width: 100%;
  height: 500px;
  display: block;
  border: none;
}
.page-header figure {
  width: 100%;
  margin: 0;
}
.page-header figure img {
  width: 100%;
}