/* SLIDER */
.slider {
  width: calc(100% + 50px);
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  background: #282828;
  margin-right: -50px;
  overflow: hidden;
  position: relative;
}
.slider:hover .swiper-container .swiper-slide {
  margin-left: -10px;
}
.slider:hover .swiper-button-next span {
  width: 100%;
}
.slider .swiper-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.slider .swiper-container .swiper-slide {
  width: calc(100% - 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  opacity: 0.3;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.slider .swiper-container .swiper-slide-active {
  opacity: 1;
  z-index: 2;
}
.slider .swiper-container .swiper-slide-active .slide-inner {
  opacity: 1;
}
.slider .swiper-container .slide-inner {
  width: 100%;
  padding: 0 100px;
  padding-right: 40%;
  opacity: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.slider .swiper-container .slide-inner figure {
  display: block;
  margin-bottom: 10px;
}
.slider .swiper-container .slide-inner figure img {
  max-width: 120px;
}
.slider .swiper-container .slide-inner h2 {
  font-size: 52px;
  font-weight: 400;
  color: #fff;
  margin-left: -3px;
}
.slider .swiper-container .slide-inner .link {
  display: block;
  margin-top: 50px;
}
.slider .swiper-container .slide-inner .link a {
  display: inline-block;
  color: #fff;
  font-size: 13px;
  position: relative;
  padding-bottom: 10px;
  font-weight: 700;
}
.slider .swiper-container .slide-inner .link a:before {
  content: "";
  width: 100%;
  height: 3px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0.3;
}
.slider .swiper-container .slide-inner .link a:after {
  content: "";
  width: 0;
  height: 3px;
  background: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.slider .swiper-container .slide-inner .link a:hover {
  text-decoration: none;
}
.slider .swiper-container .slide-inner .link a:hover:after {
  width: 100%;
}