/* FORM ELEMENTS */
input[type=text], input[type=email], input[type=number], input[type=tel] {
  width: 100%;
  height: 54px;
  border: 1px solid rgba(40, 40, 40, 0.1);
  padding: 0 20px;
}

textarea {
  width: 100%;
  height: 160px;
  border: 1px solid rgba(40, 40, 40, 0.1);
  padding: 15px 20px;
}

button[type=submit] {
  height: 58px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
  border: none;
  margin: 0;
  padding: 0;
}
button[type=submit] * {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
button[type=submit] strong {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 58px;
  border: 1px solid #f6323e;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 30px;
  background: #f6323e;
  color: #fff;
}
button[type=submit] strong:hover {
  text-decoration: none;
}
button[type=submit] b {
  width: 20px;
  height: 1px;
  background: #fff;
  display: inline-block;
  margin-left: 20px;
  margin-top: 8px;
}
button[type=submit] i {
  width: 0;
  height: 0;
  display: inline-block;
  margin-left: 0;
  margin-right: auto;
  border-style: solid;
  border-width: 4px 0 4px 4px;
  border-color: transparent transparent transparent #fff;
  opacity: 1;
  margin-top: 5px;
}
button[type=submit]:hover b {
  width: 50px;
  margin-left: 20px;
}
button[type=submit]:hover i {
  opacity: 0;
}

input[type=submit] {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 58px;
  border: 1px solid #f6323e;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 30px;
  background: #f6323e;
  color: #fff;
}
input[type=submit]:hover {
  text-decoration: none;
}

section, footer{
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

section.page-header, section.slider{
  border-left: 0px;
}


.wpcf7-not-valid-tip{
  font-size: 12px;
  margin-top: 5px;
  display: inline-block;
  width: 100%;
  font-weight: 600;
  color: black;
}

.wpcf7-mail-send-ok {
  border-color:  white;
  color: white;
}

span.wpcf7-not-valid-tip{
  color: #fff;
}

.wpcf7-response-output {
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 16px;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 0px;
  padding: 15px!important;
  margin: 30px 0 !important;
  font-weight: 600;
}

#contactFormPopup1 .wpcf7-response-output {
  color: #f6323e;
  border-color:  #f6323e;
}

#contactFormPopup1 span.wpcf7-not-valid-tip {
  color: #f6323e;
}

#contactFormPopup1 .wpcf7-mail-send-ok {
  border-color:  green;
  color: green;
}

.wpcf7-display-none{
  display: none;
}

div.wpcf7-validation-errors{
  border-width: 1px;
}

#contactFormPopup1 div.wpcf7-mail-sent-ok.wpcf7-response-output {
  border: 2px solid #398f14;
  color: #398f14 !important;
}

div.wpcf7 .ajax-loader{
  position: absolute;
  left: 140px; 
  top: 22px;
}

.form-group{
  position: relative
} 