/* LINKS */
a {
  color: #282828;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

a:hover {
  text-decoration: underline;
  color: #f6323e;
}

a:active {
  text-decoration: underline;
}
