/* CASE DETAIL */
.case-detail {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 120px 0;
}
.case-detail figure {
  display: block;
  margin-bottom: 50px;
}
.case-detail figure img {
  width: 100%;
}
.case-detail h6 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}
.case-detail h5 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
.case-detail h3 {
  font-size: 50px;
  font-weight: 400;
  margin-top: 100px;
}
.case-detail p {
  display: block;
  margin-bottom: 50px;
}