.color-dark footer, .color-orange footer,
.color-dark header, .color-orange header,
.color-dark section, .color-orange section,
.color-dark a, .color-orange a,
.color-dark .custom-link i, .color-orange .custom-link i,
.color-dark, .color-orange
{
  color: #fff;
}

.color-dark .custom-link span, .color-orange .custom-link span
{
  background-color: #fff;
}

.color-dark .custom-link i, .color-orange .custom-link i
{
  border-color: transparent transparent transparent #fff;
}

.color-dark .logos ul, .color-orange .logos ul,
.color-dark .logos ul li, .color-orange .logos ul li
{
  border-color: rgba(255, 255, 255, 0.3);
}

.color-orange .logos ul li figure img, .color-dark .logos ul li figure img{
  // filter: invert(100%);
}

.pagination li.page-item:first-child a.page-link, .pagination li.page-item:last-child a.page-link{
  background: none;
}

.color-dark textarea, .color-dark input[type=text], .color-dark input[type=email], .color-dark input[type=number], .color-dark input[type=tel]{
  border-color: rgba(255, 255, 255, 0.3);
}

.color-dark .blog .sidebar, .color-dark .footer .career, section, footer, .color-dark .blog .sidebar .widget .tags li a{
  border-color: rgba(255, 255, 255, 0.3);
}

.color-dark .blog .sidebar .widget .title:after{
  background: #fff;
}

.color-dark .blog .post .post-content .post-link:after{
  background: #fff;
}

/*COLOR WHITE VERSION*/
.color-white .custom-btn a{
  border-color: #fff;
}

.color-white .works .custom-btn a{
  background: transparent;
}

.color-white .pagination li.page-item:first-child a.page-link, .color-white .pagination li.page-item:last-child a.page-link{
  width: auto;
  color: #fff;
  border: 0px !important;
}
.color-white .pagination li.page-item a.page-link{
  color: #282828;
  height: 30px;
  width: 30px
}
.color-white .pagination li.page-item a.page-link:hover{
  border: 1px solid #fff;
  color: #fff;
}
.color-white .pagination li.page-item.active a.page-link{
  border-color: #fff;
  color: #fff;
}

.contact-form-popup textarea, .contact-form-popup input[type=text], .contact-form-popup input[type=email], .contact-form-popup input[type=number], .contact-form-popup input[type=tel]{
  border-color: rgba(40,40,40,0.1);
}