.contact-form-popup .contact-form .titles, .contact-form-popup .contact-form h2{
  color: #333;
}

.contact-form-popup .contact-form .titles{
  margin-bottom: 0px;
}

.contact-form-popup .contact-form h2{
  margin-bottom: 60px;
  font-weight: 400;
}

.contact-form-popup{
  display: none;
  max-width: 960px;
  padding: 80px 100px;
  margin: 0px;
}
.contact-form-popup .fancybox-slide--html{

}

.contact-form-popup div.wpcf7-validation-errors{
  color: #333;
}