/* FOOTER */
.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 150px 0;
}
.footer .career {
  display: block;
  border-bottom: 1px solid rgba(40, 40, 40, 0.1);
  padding-bottom: 100px;
  margin-bottom: 100px;
}
.footer .career h6 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}
.footer .career h2 {
  font-size: 3vw;
  font-weight: 400;
  margin-bottom: 50px;
}
.footer .logo {
  display: block;
  margin: 0;
}
.footer .logo img {
  height: 42px;
}
.footer h5 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 20px;
}
.footer .sub-footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  font-size: 13px;
}
.footer .sub-footer ul {
  display: inline-block;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  padding: 0;
}
.footer .sub-footer ul li {
  display: inline-block;
  margin-right: 20px;
  padding: 0;
  list-style: none;
}
.footer .sub-footer ul li a {
  display: block;
  position: relative;
  padding: 0 2px;
}
.footer .sub-footer ul li a:hover {
  text-decoration: none;
}
.footer .sub-footer ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 8px;
  height: 1px;
  width: 0;
  transition: width 0s ease, background 0.25s ease;
}
.footer .sub-footer ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 8px;
  height: 1px;
  width: 0;
  background: #282828;
  transition: width 0.25s ease;
}
.footer .sub-footer ul li a:hover:before {
  width: 100%;
  background: #282828;
  transition: width 0.25s ease;
}
.footer .sub-footer ul li a:hover:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}
.footer .sub-footer span {
  margin-right: 0;
}
.footer address{
  margin-bottom: 30px;
}