/* OUR AWARDS */
.our-awards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 150px 0;
}
.our-awards .titles {
  text-align: center;
  padding: 0 20%;
}
.our-awards ul {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}
.our-awards ul li {
  width: 20%;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}
.our-awards ul li:last-child figure {
  border-right: 0;
}
.our-awards ul li figure {
  width: 100%;
  margin-bottom: 40px;
  padding: 0 30%;
  border-right: 1px solid rgba(40, 40, 40, 0.1);
}
.our-awards ul li h5 {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 15px;
}
.our-awards ul li small {
  display: block;
  opacity: 0.6;
  margin-bottom: 5px;
}
.our-awards ul li .odometer {
  font-size: 60px;
  font-weight: 700;
}