/* RECENT NEWS */
.recent-news {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.recent-news .row {
  margin-left: -25px;
  margin-right: -25px;
}
.recent-news .col-lg-4 {
  padding-left: 25px;
  padding-right: 25px;
}
.recent-news .col-12 {
  padding-left: 25px;
  padding-right: 25px;
}
.recent-news .inner h3 {
  font-size: 20px;
}
.recent-news .content-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 80px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(40, 40, 40, 0.1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  position: relative;
}
.recent-news .content-box:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 1px;
  width: 0;
  transition: width 0s ease, background 0.25s ease;
}
.recent-news .content-box:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -1px;
  height: 1px;
  width: 0;
  background: #282828;
  transition: width 0.25s ease;
}
.recent-news .content-box:hover:before {
  width: 100%;
  background: #282828;
  transition: width 0.25s ease;
}
.recent-news .content-box:hover:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}
.recent-news .content-box.selected {
  padding-bottom: 80px;
}
.recent-news .content-box.selected h3 {
  font-size: 4vw;
  font-weight: 600;
}
.recent-news .content-box small {
  opacity: 0.5;
  margin-bottom: 10px;
}
.recent-news .content-box h3 {
  display: block;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.recent-news .content-box h3 a {
  display: block;
}
.recent-news .content-box h3 a:hover {
  text-decoration: none;
}
.recent-news .content-box span {
  display: block;
  font-weight: 600;
}