/* SERVICE SINGLE */
.service-section{
  padding-bottom: 150px;
}
.service-section .col-12{
  margin-bottom: 50px;
}
.service-section .col-md-8{
  /* max-width: 90%; */
  padding-left: 60px;
}
.well{
  background: #fd9c2e;
  padding: 40px;
}
.well h5{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
}
.well ul{
  margin-top: 25px;
  margin-bottom: 15px;
  list-style: none;
  padding: 0px;
}
.well ul li{
  margin-bottom: 10px;
  position: relative;
  padding-left: 40px;
}

.well ul li:before{
  background: url(../images/icon-gotop.svg);
  filter: invert(1);
  background-size: auto 100%;
  position: absolute;
  left: 0px;
  transform: rotate(90deg);
  content: "";
  display: inline-block;
  height: 24px;
  width: 24px;
  margin: 0px;
  margin-right: 10px;
}
.related-items{
    &:nth-child(1n+2){
        margin-top: 30px;
        @media(max-width: 736px){
          margin-top: 30px;
        }
    }
}

.title.recent{
  margin-bottom: 0px;
}