/*SWIPPER*/
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
  margin: 0px;
}
.swiper-container-horizontal{
  overflow: hidden;
}
/*SWIPPER*/

.home-slider.slider .swiper-container .swiper-slide{
  position: relative;
  &:after{
    position: absolute;
    background: rgba(0, 0, 0, .4);
    top: 0px; bottom: 0px;
    left: 0px; right: 0px;
    content: "";
    display: block;
  }
  .slide-inner{
    position: relative;
    z-index: 1;
  }
}