/* TEAM */
.team {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 100px 0;
  color: #fff;
}
.team figure {
  display: block;
  margin: 0 0 60px 0;
  filter: grayscale(1);
}
.team figure img {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}
.team figure figcaption {
  display: block;
  margin: 0;
}
.team figure figcaption span {
  display: block;
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 10px;
  font-weight: 500;
}
.team figure figcaption h5 {
  display: block;
  font-weight: 600;
  margin-bottom: 0;
}
.team figure figcaption a {
  color: #fff;
  margin-right: 10px;
  margin-bottom: 10px;
}